---
layout: default
title: Sunny's Blog
---


<div class="row">
    <div class="col-sm-12 blog-main">
        <div class="blog-post">

            <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title" >置顶推荐</h3>
                </div>
                <div class="panel-body">
                  <a href="http://www.ruanyifeng.com/blog/" target="_blank">阮一峰的网络日志</a><br/>   
                  <a href="http://777sunny777.github.io/sunnyblog/savour/2015/06/08/10.html" target="_blank">我对于React的一点理解</a><br/>  
                  <a href="http://777sunny777.github.io/sunnyblog/php/2014/08/22/2.html" target="_blank">文章：grunt常用配置(绝对硬货)</a><br/>
                  <a href="http://777sunny777.github.io/sunnyblog/performance/2014/09/05/11.html" target="_blank">浏览器的内核分为几种[转]</a><br/>
                  <a href="http://blog.csdn.net/fovwin/article/details/9102731" target="_blank">Sublime Text 2 快捷键[转]</a><br/>
                  <a href="http://extjs.org.cn/node/699" target="_blank">前端开发框架选型清单[转]</a><br/>
                  <a href="http://777sunny777.github.io/sunnyblog/php/2015/03/11/5.html" target="_blank">git使用详细</a><br/>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title" >一些前端工具最新版本及下载地址</h3>
                </div>
                <div class="panel-body">
                  <a href="http://jquery.com/download/" target="_blank">jQuery (V1.11.3)(V2.1.4)</a><br/>   

                  <a href="https://github.com/sass/sass" target="_blank">Sass (V3.4.19)</a><br/>
                  <a href="https://github.com/thoughtbot/bourbon" target="_blank">Bourbon+Neat (V5.0.0)</a><br/>
                  <a href="http://v4.bootcss.com/" target="_blank">Bootstrap (V4)--提供sass版本</a><br/>

                  <a href="http://facebook.github.io/react/index.html" target="_blank">React (V0.14.0)</a><br/>
                  <a href="https://github.com/facebook/flux" target="_blank">Flux (V2.1.1)</a><br/>
                  
                  <a href="https://github.com/gruntjs/grunt" target="_blank">Grunt (V0.4.5)</a><br/>
                  <a href="https://github.com/bower/bower" target="_blank">Bower (V1.6.3)</a><br/>

                  <a href="http://www.requirejs.cn/docs/download.html" target="_blank">Requirejs (V2.1.11)</a><br/>
                  <a href="http://seajs.org/docs/#downloads" target="_blank">Seajs (V3.0.0)</a><br/>

                  <a href="https://github.com/jashkenas/backbone" target="_blank">Backbone (V1.2.3)</a><br/>
                  <a href="http://www.juicer.name/" target="_blank">Juicer (V0.6.8)</a><br/>

                  <a href="http://www.highcharts.com/download" target="_blank">Highcharts (V4.1.9)</a><br/>
                 
                </div>
            </div>

            <p class="ulp alert alert-success"><span class="glyphicon glyphicon-plus"></span>前端交互基础(javascript,jquery,es6)</p>
            <ul class="pul">
            {% for post in site.categories.basic %}
                <li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}" target="_blank">{{ post.title }}</a></li>
            {% endfor %}
            </ul>

            <p class="ulp alert alert-info"><span class="glyphicon glyphicon-plus"></span>前端技术(backbone,sass,react,flux...)</p>
            <ul class="pul">
            {% for post in site.categories.savour %}
                <li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}" target="_blank">{{ post.title }}</a></li>
            {% endfor %}
            </ul>

            <p class="ulp alert alert-warning"><span class="glyphicon glyphicon-plus"></span>html5 and css3/css2</p>
            <ul class="pul">
            {% for post in site.categories.h5c3 %}
                <li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}" target="_blank">{{ post.title }}</a></li>
            {% endfor %}
            </ul>

            <p class="ulp alert alert-danger"><span class="glyphicon glyphicon-plus"></span>web性能优化相关</p>
            <ul class="pul">
            {% for post in site.categories.performance %}
                <li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}" target="_blank">{{ post.title }}</a></li>
            {% endfor %}
            </ul>

            <p class="ulp alert btn-primary"><span class="glyphicon glyphicon-plus"></span>杂项</p>
            <ul class="pul">
            {% for post in site.categories.php %}
                <li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}" target="_blank">{{ post.title }}</a></li>
            {% endfor %}
            </ul>

            <!--   <p class="ulp alert alert-info"><span class="glyphicon glyphicon-plus"></span>PS相关(我逼stella写的)</p>
            <ul class="pul">
            {% for post in site.categories.ps %}
                <li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}" target="_blank">{{ post.title }}</a></li>
            {% endfor %}
            </ul> -->

        </div><!-- /.blog-main -->
    </div>
</div>
